{
  "recommendations": [
    "tboox.xmake-vscode",
    "EditorConfig.EditorConfig",
{% if not tooling_only %}
    "gabriel-andreescu.bbcode-editor",
{% endif %}
{% if devbench_tests %}
    "ms-python.python",
    "charliermarsh.ruff",
{% endif %}
    "llvm-vs-code-extensions.vscode-clangd"
  ]
}
