# {{ project_name }}

This project uses
[ModOrganizerPluginKit (MOPK)]({{ mopk_repository }})
for project generation and development tooling.

## Development

See MOPK's
[project build instructions]({{ mopk_docs }}/plugin-authors/template/projects.md#build-a-generated-project)
and
[deployment and packaging]({{ mopk_docs }}/plugin-authors/tooling/packaging.md).
{% if pre_commit %}

See
[formatting setup]({{ mopk_docs }}/plugin-authors/template/defaults.md#formatting).
{% endif %}

See
[Clang tooling]({{ mopk_docs }}/plugin-authors/tooling/clang.md)
for formatting and linting.
{% if devbench_api %}

See
[DevBench native integration]({{ mopk_docs }}/plugin-authors/tooling/devbench.md#native-api).
{% endif %}

```sh
xmake
xmake package
```
{% if devbench_tests %}

## Tests

See
[DevBench setup]({{ mopk_docs }}/plugin-authors/template/defaults.md#devbench)
and the
[Python client and fixtures]({{ mopk_docs }}/plugin-authors/tooling/devbench.md).
{% endif %}
